html, body {
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
}
.genres {
    display: flex;
    flex-wrap: wrap;
}

section > section {
    width: 500px;
    height: 100px;
}

.action {
    background-color: dodgerblue;
}
.thriller {
    background-color: rgb(190, 178, 178);
    width: 5000px;
}
.comedy {
    background-color: rgb(255, 214, 30);
    width: 5000px;
}
.horror {
    background-color: black;
}
.drama {
    background-color: darkgrey;
}
.romance {
    background-color: red;
}